// Radio and Checkbox

input[type=radio],
input[type=checkbox] {
	display: none;
}

.radio label:before {
	border-radius: 8px;
}

.checkbox label {
	margin-bottom: 10px;

	&:before {
		border-radius: 3px;
	}
}	

input[type=radio]:checked + label:before {
	content: "\2022";
	color: #f3f3f3;
	font-size: 30px;
	text-align: center;
	line-height: 18px;
}

input[type=checkbox]:checked + label:before {
	// content: "\2713";
	font-family: $font-family-icons;
	content: "\f00c";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
	line-height: 15px;
}

input[type=checkbox] + label, input[type=radio] + label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	font-size: 13px;

	&:before {
		content: "";
		display: inline-block;

		width: 16px;
		height: 16px;

		position: absolute;
		left: 0;
		bottom: 1px;
		background-color: #aaa;
		box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	}
}

// Number

input[type="number"] {
    position: relative;
    margin: 0 0 1rem;
    border: 1px solid #BBB;
    border-color: #BBB #ECECEC #ECECEC #BBB;
    padding: .2rem .2rem .2rem .4rem;
}

/* Spin Buttons modified */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1.5em;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-inner-spin-button:active{
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}

/* Override browser form filling */
input:-webkit-autofill {
    background: black;
    color: red;
}